<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/footer.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="all-footer-box">
            <div class="one-footer-box">
                <h3>Have a project in your mind</h3>
                 <a href="#" class="contact-us-footer">Contact us</a>
             </div>
           

            <div class="one-footer-box">
               <h4>Quick Link</h4>
                <a class="" href="#">About us</a>
                <a class="" href="#">Contact Us</a>
            </div>

            <div class="one-footer-box">
                <h4>Contact us</h4>
                 <div class="location">
                    <p>Bagbazar-28, Kathmandu</p>
                </div>

                <div class="location">
                    <p>info@marketingmandu.com</p>
                </div>
                <div class="location">
                    <p>+977-9864249902</p>
                </div>
             </div>

             <div class="one-footer-box">
                <h4>Marketing Mandu</h4>
                <p>When do they work well, and when do they on us and finally, when do we actually need how can we avoid them.</p>
            </div>

            </div>
            <div class="two-footer-info">
                <p>Alright reserved by Marketing Mandu</p>
                <div class="email-logo">
                    <input type="text" placeholder="Enter Your Email" class="footer-input">
                    <i class="ri-send-plane-fill"></i>
                </div>
            </div>
        
    </footer>
</body>
</html>