<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <header>
        <div class="logo-images">
            <a href="/"><img src="/images/Logo 2.jpg" alt="" class="main-logo"></a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <div class="logo">Marketing Mandu</div>
            <a href="/team">Our Team</a>
            <a href="/price">Pricing</a>
        </nav>
        <a href="/contact"><button class="header-btn" >Contact us</button></a>
    </header>
</body>
</html>