.about-banner-images{
    width: 100%;
    position: relative;

}
.main-pricing-title{
    position: absolute;
    top: 13vw;
    left: 45vw;
    font-size: 3vw;
    font-family: heading;
    color: #fff;

}
.price-images-for-background{
    width: 100%;
}
.price-heading-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 0;
}
.price-heading-h1{
    font-family: pasag;
    color: #fff;
    font-size: 3vw;
    text-align: center;
}
.price-pasag-p{
    font-family: pasag;
    font-size: 1vw;
    text-align: center;
    width: 50%;
    color: #757677;
}
.main-pricing-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vw 2vw;
}
.pricing-plan{
    width: 30%;
background-color: #212121;
padding: 5vw 2vw 1vw 2vw;
border-radius: 1vw;
box-shadow: 0 4px 23px 0 rgba(32, 33, 33, 0.3);
clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}
.features-list{
    font-size: 1.2vw;
    padding: 0.5vw;
    margin: 0.5vw 0;
    border-radius: 0.3vw;
    list-style-type: none;
    font-family: "pasag";
    color: rgb(255, 255, 255);
    background: linear-gradient(200deg, transparent, #757677);
}
.main-price-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
}
.price-money{
    display: flex;
    justify-content: start;
    align-items: center;
    color: aliceblue;
    padding: 1vw 0;
}
.money{
    font-family: heading; 
    color: #aaff00;
    margin: 0 0.2vw;
}
.price-btn{
    outline: none;
    border: none;
    padding: 1.1vw 3vw;
    background-color: #aaff00;
    border-radius:10vw;
    cursor: pointer;
    font-size: 1vw;
    font-family: pasag;
    color: #000000;
    font-weight: 700;
}

@media only screen and (max-width:720px){
.main-pricing-title{
    font-size: 6vw;
    top: 18vw;
    left: 40vw;
}
.main-pricing-div{
    flex-direction: column;
}
.pricing-plan{
    width: 100%;
    margin: 4vw 0;
}
.pricing-plan h3{
    font-size: 5vw;
}
.pricing-plan p{
    font-size: 2.5vw;
    margin: 2vw 0;
}
.features-list{
    font-size: 2.5vw;
    padding: 2vw 1vw;
}
.price-btn{
    font-size: 4vw;
    padding:5vw 6vw;
    border-radius: 1vw;
}
.price-money p{
font-size: 3vw;
}
.price-money h2{
    font-size: 5vw;
}
.per-months{
    color: gray;
    margin-left: 1vw;
}
}