.services-images{
    padding: 3vw 0;
    position: relative;
}
.our-services-text{
    position: absolute;
    top: 15vw;
    left: 4vw;
    color: #fff;
    font-family: heading;
    font-weight: 400;
    letter-spacing: 0.1vw;
    font-size: 3.5vw;
}
.main-picture-services{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
.main-services-tex{
    padding-bottom:5vw;
}
.services-h1{
    font-family: heading;
    font-size: 3vw;
    color: #fff;
}

.services-pasag{
    font-family: poppins;
font-size: 1vw;
width: 50%;
}

.main-sercices-section{
    width: 100%;
    padding: 1vw 3vw;
}

.all-services{
    width: 100%;
    padding: 1vw 0 7vw 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;

    
}
.main{
    padding: 1vw 2vw;
    background-color: #1A1A1A;
    margin: 0.5vw 0;
}
.main h2{
    font-size: 1.5vw;
    font-family: heading;
    font-weight: 400;
    letter-spacing: 0.1vw;
    color: rgb(255, 255, 255);
    padding: 1vw 0;
}
.main p{
    font-size: 1vw;
    padding: 1vw 0;
    color: rgb(204, 204, 204);
    font-family: poppins;
}


.lets-talk{
    height: 15vw;
    width: 100%;
    padding: 2vw;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lets-talk-h1{
    font-family: bokis;
    font-size: 8vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    color: #fff;
}
.contact-us-btn{
    background-color: #aaff00;
    color: #1A1A1A;
    padding: 1vw 3vw;
    border-radius: 10vw;
    font-size: 1vw;
    font-family: pasag;
}