<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
</head>
<body>
    
    <div class="main">
        <%- include('./partials/header') %>
        <div class="sub-main">
           <div class="left-part">
            <h1 class="home-h1">We Design Creative ideas</h1>
            <p class="home-pasag">
                We felt strongly that design was more than pretty pictures, it was a powerful tool that could really transform business.
            </p>
            <button class="first-btn">Get Started Now</button>
           </div>
           <div class="center-part">
            <img class="home-images" src="/images/02.png" alt="">
           </div>

           <div class="right-parts">
            <div class="top">
                <p class="top-p">
                    Strategy, Design, Solution Development
                </p>
                <i class="ri-arrow-right-up-line"></i>
            </div>
            <div class="center">
                <p class="center-p">We are a full-service digital agency that builds fascinating user experience. Our team creates an exceptional UI design and functionality. </p>
            </div>
            <div class="end">
                <p class="end-p">50 We Have a Happy Customer</p>
            </div>
           </div>
        </div>

        <section class="about-us-section">
            <h1 class="about-title-h1">To Create Artistic & Creative Design</h1>

            <div class="two-box-about">
                <div class="main-about-title">
               
                    <div class="two-number">
                        <div class="all-project-num">
                            <h2 class="about-project-title">50+</h2>
                            <p class="about-project-pasag">Project Delivered</p>
                        </div>
        
                        <div class="all-project-num">
                            <h2 class="about-project-title">10</h2>
                            <p class="about-project-pasag">Total Clients</p>
                        </div>
                    </div>
                </div>
    
                <div class="about-description">
                    <p class="about-desciption-txt">
                        I’m a professional who is responsible for the overall design and user experience of a product. This role involves combining artistic and creative skills with a deep understanding of user needs.
                        <a class="about-read-more" href="/about">Read More</a>
                    </p>
                    
                    
                </div>
            </div>
        </section>

        <section class="Methodology">
     <div class="two-methodology">
        <div class="small-txt">
            <p class="inner-pasag-p">Used Methodology</p>
            <i class="ri-arrow-right-line"></i>
        </div>
        <div class="side-txt">
            <h2 class="inner-h2">Utilize diverse technologies to enhance operational efficiency.</h2>
        </div>
     </div>  

     <div class="four-box">
<div class="first-box">
    <i class="ri-presentation-line"></i>
    <figcaption>Discovery & Research</figcaption>
    <div class="all-list-items">
        <p class="all-inner-list">Client Consultation</p>
        <p class="all-inner-list">Market Research</p>
        <p class="all-inner-list">Audience Research</p>
    </div>
</div>
<div class="first-box">
    <i class="ri-presentation-line"></i>
    <figcaption>Strategy Development</figcaption>
    <div class="all-list-items">
        <p class="all-inner-list">Objective Setting</p>
        <p class="all-inner-list">Channel Selection</p>
        <p class="all-inner-list">Content Strategy</p>
    </div>
</div>
<div class="first-box">
    <i class="ri-presentation-line"></i>
    <figcaption>Planning & Execution</figcaption>
    <div class="all-list-items">
        <p class="all-inner-list">Campaign Planning</p>
        <p class="all-inner-list">Content Calendar</p>
        <p class="all-inner-list">Content Creation</p>
        
    </div>
</div>
<div class="first-box">
    <i class="ri-presentation-line"></i>
    <figcaption>Reporting & Optimization</figcaption>
    <div class="all-list-items">
        <p class="all-inner-list">Regular Updates</p>
        <p class="all-inner-list">Insights & Recommendations</p>
        <p class="all-inner-list">Performance Tracking</p>
        
    </div>
</div>
     </div>     
        </section>

<section class="any-project-section">
    <div class="images-and-text">
        <div class="all-text-and-btn">
            <h1 class="any-project-h1">Do You Have Any Project?</h1>
                <button class="project-btn">Get in Touch</button>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>
  </div>
</body>
</html>