<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/services.css">
</head>
<body>
    <%- include('./partials/header') %>
    <div class="services-images">
      <h1 class="our-services-text">
        Our Services
      </h1>
      <img src="../images/services.png" alt="" class="main-picture-services">
    </div>
    <section class="main-sercices-section">
      
      <div class="main-services-tex">
        <h1 class="services-h1">We Provide Different Services</h1>
        <p class="services-pasag">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ullam odit consequuntur consequatur itaque, ducimus eligendi illum iusto consectetur obcaecati?</p>
            </div>
            <div class="all-services">
              <% if (aboutServices && aboutServices.length > 0) { %>
                <% aboutServices.forEach((data) => { %>
                  <div class="main">
                    <h2><%= data.name %></h2>
                    <p><%= data.description %></p>
                  </div>
                <% }) %>
              <% } %>
            </div>
    </section>
    
    
    
    <%- include('./partials/footer') %>
</body>
</html>